{{#partial "contenido"}}
<meta charset="UTF-8">

<div style="margin-top:2%" class="card col l4 m6 s12  offset-l4 offset-m3  visualizar-cuentas-styles" action="/crearMetodologia/">
    <form style="margin-bottom:20px;" action="/crearMetodologia/" class="col s12" method="post">
       <div style="margin-top:10px;" class="form-group">
          <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre de la metodología"/>
      </div>
      <div style="margin-top:10px;" class="form-group">
        <select multiple>
           <option value="" disabled selected>Seleccione las condiciones</option>
           {{#each condiciones}}
              <option value = "{{this}}">{{this.nombre}}</option>
           {{/each}}
        </select>
      </div>
        <button type="submit" class="blue btn btn-default">Crear Metodologia</button>
  </form>
</div>

<script type="text/javascript">
      $(document).ready(function() {
          $('select').material_select();
          $(".select-dropdown").attr("name","selected");
      });
      Materialize.toast("{{mensaje}}",3000,"{{color}}");
</script>
{{/partial}}

{{>index.hbs}}
