{{#partial "contenido"}}
    <meta charset="UTF-8">

    <div style="margin-top:2%" class="card col l4 m6 s12  offset-l4 offset-m3  visualizar-cuentas-styles" action="/evaluacionMetodologia/">
      <form style="margin-bottom:20px;" action="/visualizarResultados/" class="col s12" method="get">
          <div style="margin-top:10px;" class="form-group">
              <select>
                 <option value="" disabled selected>Seleccione la metodología</option>
                 {{#each metodologias}}
                    <option value = "{{this}}">{{this.nombre}}</option>
                 {{/each}}
              </select>
          </div>
          <button type="submit" class="blue btn btn-default">Evaluar</button>
      </form>
    </div>
    <div class="hidden col s8 offset-s4">
        <table>
          <thead>
            <tr>
              {{#each resultados}}
                 <th></th>
              {{/each}}
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
    </div>

    <script type="text/javascript">
          $(document).ready(function() {
              $('select').material_select();
              $(".select-dropdown").attr("name","selected");
          });
          Materialize.toast("{{mensaje}}",3000,"{{color}}");
    </script>
{{/partial}}

{{>index.hbs}}
