{{#partial "contenido"}}
<form class="error-form" action="/" method ="GET">
<div>

	<h3>Usuario/contraseña inválidos</h3>
	<input class="btn btn-primary btn-lg" type="submit" value="Volver">

</div>
</form>
{{/partial}}

{{>index.hbs}}
