{{#partial "contenido"}}
<meta charset="UTF-8">
<div action="/menuPrincipal/">

    <div class="col l4 m6 s12 webkit-center">
        <div class="tarjeta">
            <div class="card all-height">
                <div class="card-image">
                    <img src="/img/visualizarCuenta.jpg">
                </div>
                <div class="card-action">
                    <a href="/visualizarCuentas/">Visualización de Cuentas</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col l4 m6 s12 webkit-center">
        <div class="tarjeta">
            <div class="card all-height">
                <div class="card-image">
                    <img src="/img/creacionCuenta.jpg">
                </div>
                <div class="card-action">
                    <a href="/creacionIndicador/">Creación de Indicadores</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col l4 m6 s12 webkit-center">
        <div class="tarjeta">
            <div class="card all-height">
                <div class="card-image">
                    <img src="/img/visualizarMetodologia.jpg">
                </div>
                <div class="card-action">
                    <a href="/evaluacionIndicador/">Evaluación de Indicadores</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col l4 m6 s12 webkit-center">
        <div class="tarjeta">
            <div class="card all-height">
                <div class="card-image">
                    <img src="/img/crearMetodologia.jpg">
                </div>
                <div class="card-action">
                    <a href="/crearMetodologia/">Creación de Metodologías</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col l4 m6 s12 webkit-center">
        <div class="tarjeta">
            <div class="card  all-height">
                <div class="card-image">
                    <img src="/img/evaluarMetodologia.jpg">
                </div>
                <div class="card-action">
                    <a href="/evaluacionMetodologia/">Evaluación de Metodologías</a>
                </div>
            </div>
        </div>
   </div>

   <div class="col l4 m6 s12 webkit-center">
       <div class="tarjeta">
           <div class="card  all-height">
               <div class="card-image">
                   <img src="/img/creacionCondicion.jpg">
               </div>
               <div class="card-action">
                   <a href="/creacionCondicion/">Creación de Condición</a>
               </div>
           </div>
       </div>
  </div>

</div>

{{/partial}}

{{>index.hbs}}
