{{#partial "contenido"}}
<meta charset="UTF-8">
<div action="/menuPrincipal/">
  <div class="row col s12">
      <div class="col m6 s12">
          <div class="tarjeta float-right">
              <div class="card all-height">
                  <div class="card-image">
                      <img src="/img/visualizarCuenta.jpg">
                  </div>
                  <div class="card-action">
                      <a href="/visualizarCuentas/">Visualización de cuentas</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="col m6 s12">
          <div class="tarjeta">
              <div class="card all-height">
                  <div class="card-image">
                      <img src="/img/creacionCuenta.jpg">
                  </div>
                  <div class="card-action">
                      <a href="/creacionIndicador/">Creación de indicadores</a>
                  </div>
              </div>
          </div>
      </div>
  </div>


  <div class="row col s12">
        <div class="col l4 m6 s12 no-pad">
            <div class="tarjeta float-right">
                <div class="card all-height">
                    <div class="card-image">
                        <img src="/img/visualizarMetodologia.jpg">
                    </div>
                    <div class="card-action">
                        <a href="/evaluacionIndicador/">Evaluación de indicadores</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l4 m6 s12 center no-pad">
            <div class="tarjeta">
                <div class="card all-height">
                    <div class="card-image">
                        <img src="/img/crearMetodologia.jpg">
                    </div>
                    <div class="card-action">
                        <a href="/crearMetodologia/">Creación de metodologías</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l4 m6 s12 no-pad">
            <div class="tarjeta float-left">
                <div class="card  all-height">
                    <div class="card-image">
                        <img src="/img/evaluarMetodologia.jpg">
                    </div>
                    <div class="card-action">
                        <a href="/evaluacionMetodologia/">Evaluación de metodologías</a>
                    </div>
                </div>
            </div>
       </div>
  </div>
</div>

{{/partial}}

{{>index.hbs}}
