{{#partial "contenido"}}
<div class="container" action="/menuPrincipal/">
  <div class="row col-sm-12">
      <div class="col-sm-6 col-xs-12">
          <div class="tarjeta float-right">
              <div class="card all-height">
                  <div class="card-image">
                      <img src="/img/visualizarCuenta.jpg">
                  </div>
                  <div class="card-action">
                      <a href="../../views/appViews/visualizarCuentas.hbs">Visualización de cuentas</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-sm-6 col-xs-12">
          <div class="tarjeta">
              <div class="card all-height">
                  <div class="card-image">
                      <img src="/img/creacionCuenta.jpg">
                  </div>
                  <div class="card-action">
                      <a href="../../views/creacionIndicador.html">Creación de indicadores</a>
                  </div>
              </div>
          </div>
      </div>
  </div>


  <div class="row col-sm-12">
        <div class="col-lg-4 col-sm-6 col-xs-12 no-pad">
            <div class="tarjeta float-right">
                <div class="card all-height">
                    <div class="card-image">
                        <img src="/img/visualizarMetodologia.jpg">
                    </div>
                    <div class="card-action">
                        <a href="../views/evaluacionIndicador.html">Evaluación de indicadores</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12 center no-pad">
            <div class="tarjeta">
                <div class="card all-height">
                    <div class="card-image">
                        <img src="/img/crearMetodologia.jpg">
                    </div>
                    <div class="card-action">
                        <a href="../views/creacionMetodologia.html">Creación de metodologías</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 no-pad">
            <div class="tarjeta float-left">
                <div class="card  all-height">
                    <div class="card-image">
                        <img src="/img/evaluarMetodologia.jpg">
                    </div>
                    <div class="card-action">
                        <a href="../views/evaluacionMetodologia.html">Evaluación de metodologías</a>
                    </div>
                </div>
            </div>
       </div>
  </div>
</div>

{{/partial}}

{{>index.hbs}}
