{{#partial "contenido"}}
      
	  <div class="row" action="/appViews/visualizarCuentas/">
			<br /> <br /> <br /> <br />
			
		<form action="/login/" class="col s12" method="post">
			
        <span class="absolute noTop brand-logo center">Visualización de Cuentas</span>
     
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<th>Nombre</th>
						<th>Fecha Desde</th>
						<th>Fecha Hasta</th>
						<th>Valor</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cuenta: ${cuentas}">
						<td th:text="${cuenta.nombre}">-</td>
						<td th:text="${cuenta.fecha_desde}">-</td>
						<td th:text="${cuenta.fecha_hasta} ">-</td>
						<td th:text="${cuenta.valor}">-</td>

					</tr>
				</tbody>
			</table>
		</div>

  {{/partial}}

{{>index.hbs}}
