.nav-bar {
  background-color:#42a5f5;
}
.app-body {
  margin:0;
  width:100%;
  margin-top: 2%;
}
body {
  background: #eeeeee;
  height:calc(100vh - 64px);
}
.all-height {
  height:100%!important;
}
.center {
  text-align:-webkit-center;
}
.float-left{
  float:left;
}
.tarjeta {
  font-size:11px!important;
  text-align: center;
  font-weight: bolder;
  width:350px!important;
  height:300px;
  padding:10px;
}
.tarjeta .card-image{
  height:85%;
}
.card .card-action {
  padding: 13px 24px;
}
.card img {
    height:100%;
}
.absolte {
  position:absolute!important;
}
.noTop {
  top:0px;
}
.float-right{
  float:right;
}
html{
  height:100vh;
}
footer {
  background-color:#fafafa;
  width:100%;
  height:55px;
  position:absolute;
  bottom:0;
}
.no-pad {
  padding:0;
}
